/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  min-height: 100vh;
  background: black;
  color: white;
  font-family: Roboto, sans-serif;
}

/* layout for fixed sidebar */
  .sidebar, .menu {
    position: fixed;
    height: 100%;
    width: 350px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 3rem;
  }

/* drink card gallery container */
  main {
    margin-left: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow-x: hidden;
    overflow-y: hidden;
  }

/* drink card layout / flip setup */

  /* outer container */
    .outer {
      perspective: 1000px;
      margin: 10px;
      background: transparent;
    }
  /* inner container */
    .inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;

    }
  /* inner flip */
    .outer:hover .inner {
      transform: rotateY(180deg);
      background: transparent;
    }

  /* front and back layout */
    .front, .back {
      height: 100%;
      backface-visibility: hidden;
    }
  /* back side flip */
    .back {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      transform: rotateY(180deg);
    }
  /* front and back card flex layout */
    .front, .back {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    /* add scrollbar for recipe that doesnt fit in card */
    p {
      overflow-y: auto;
      padding: 10px;
    }


img {
  display: block;
  width: 100%;
  padding: 10px;
}

/* Breakpoint for mobile/tablets */
  @media screen and (max-width: 1000px){
    body {
      font-size: 2rem;
    }

    .sidebar, .menu {
      position: relative;
      width: 100%;
      height: 35vh;
    }

    main{
      margin-left: 0px;
      grid-template-columns: repeat(auto-fit, 50%);
    }
  }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* sidebar styling */
  .sidebar {
    background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(119,5,5,1) 100%);
  }

/* styling for drink cards */
  .inner {
    background-color: rgba(105, 105, 105, 0.3);
    border: 5px solid rgba(118, 7, 13, 0.5);
    border-radius: 10px;
  }

  section:hover {
    transform: scale(1.1);
  }

/* set font weights */
  h1 {
    font-weight: 700;
  }

  h3 {
    font-weight: 400;
  }

  p {
    font-weight: 100;
  }

/* set link colors */
  a {
    color: white;
  }

  a:hover {
    color: black;
  }